<app-dashboard></app-dashboard>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="margin-left:15%;">
    <h1>Welcome to enquiry page</h1>
    <div class="jumbotron">
      <div class="row">
        <div class="col-6">
    <form [formGroup]="enquiryForm" >
      <div class="form-group">
        <label for="enq">Enter Your Unique ID:</label>
        <input type="text" formControlName="id" class="form-control"  name="id" required 
            [ngClass]="{ 'is-invalid': submitted && f.id.errors }" #id/>
                        <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                            <div *ngIf="f.id.errors.required">Id is required</div>
                        </div>  
            </div>
        <div class="col-6">
        <button (click)="getStudentt(id.value)" [disabled]="f.pristine || f.invalid" class="btn btn-info" value="submit">submit</button>
      </div>
    </form>
    </div>
    </div>
    </div>
    <div class="container">
      <div class ="table-responsive">
        <h1> Student Table</h1>
        <br/>
        <div id="resultDiv">Students</div>
        <table class = "table table-bordered table-striped" id = "Student_table">
          <tr>
            <th> Name: </th>
            <th> DOB: </th>
            <th> Gender: </th>
            <th> Father Name: </th>
            <th> Mother Name: </th>
            <th> Address: </th>
          </tr>
          <tr id="resultTr">
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>