div h3{
    background-color: #6846c7;
    text-align:center;
    color:white;
}
.loginpagebtn:hover{
    background-color: #6846c7;
    color:white;
}
.card-header{
    background-color: #6846c7!important;
}