<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0 ">
                        <div class="card-header ">
                            <h3 class=" text-white"> Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" method="POST" (submit)='loginUser($event)'>
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname"
                                        id="uname" required="" tabindex="1" placeholder="Enter your username "
                                        autocomplete="off">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" name="upwd"
                                        id="upwd" required="" autocomplete="new-password" tabindex="2"
                                        placeholder="Enter your password">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
                                <button type="submit" class="btn btn-success  float-left loginpagebtn" id="btnLogin"
                                    name="btnLogin" tabindex="3">Login</button>
                                <button type="reset" class="btn btn-warning  float-right loginpagebtn" id="btncancel"
                                    name="btncancel" tabindex="4">Cancel</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->