.headerinfo{
    text-align:center;  
    background-color: #6846c7!important; 
    color:white;
    padding:10px;
}
.container{
    text-align:center;
    align-items:left;
}
body{
    font-size:30px;
}
.sidenav{
  height: 100%;
  width:15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover{
  color:white;
}
.menulabel{
  color: #818181;
  margin-left: 7%;
  font-size: 21px;
}
