<head>
</head>

<body>
  <div class="sidenav">
    <h3 class="menulabel">Menu</h3>
    <a routerLink="/enrollement" routerLinkActive="active">Enrollment</a>
    <a routerLink="/enquiry" routerLinkActive="active">Enquiry</a>
    <a routerLink="/">Logout</a>
  </div>
  <div style="margin-left:15%;">
    <p class="headerinfo"> Welcome To Student Portal</p>
  </div>
</body>
<router-outlet></router-outlet>