.form-check-label{
    text-align:left;
}
div h3{
    text-align: center;   
}
.btnenrollpage:hover{
    background-color: #6846c7;
    color:white;
}
.formborder{
    border: 1px solid #847d7d;
    padding: 20px 20px;
}
.radiobtnalign{
    margin-left: -4%;
}
